---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -fuchsia-*,
        -google-*,
        -hicpp-uppercase-literal-suffix,
        -llvm*,
        -misc-no-recursion,
        -misc-non-private-member-variables-in-classes,
        -modernize-use-nodiscard,
        -modernize-use-trailing-return-type,
        -readability-avoid-const-params-in-decls,
        -readability-else-after-return,
        -readability-identifier-length,
        -readability-implicit-bool-conversion,
        -readability-non-const-parameter,
        -readability-static-accessed-through-instance,
        -readability-uppercase-literal-suffix,
        -zircon-*,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
