name: Linux Emscripten

on:
  - pull_request
  - push

jobs:
  build:
    name: Linux Emscripten
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: seanmiddleditch/gha-setup-ninja@master
      - uses: mymindstorm/setup-emsdk@v7
      - name: Build
        run: >
          mkdir build;
          cd build;
          emcmake cmake ..
          cmake --build . --config Release;
